.test {
    text-align: center;
    &_box {
        margin: 0 auto;
    }
}

.main {
    color: white;
}

.motya {
    color: green;
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    text-shadow: 10px 5px 10px black;
    text-decoration: underline;
    text-decoration-color: orangered;
    animation: anim 1s infinite;
}

@keyframes anim {
    from {
        color: purple;
        transform: rotate(0deg);
    }
    50% {
        color: black;
        transform: scaleX(2);
        text-decoration: none;
    }
    to {
        color: purple;
        transform: rotate(30deg);
    }
}